[submodule "program"]
	path = program
	url = https://github.com/Linsan515/program.git
[submodule "lucky"]
	path = lucky
	url = https://github.com/lucky071118/lucky.git
[submodule "123/final"]
	path = 123/final
	url = https://github.com/lucky071118/2017-Final_Project.git
